body{
  background-image: linear-gradient(to right, rgb(255, 0, 0),rgb(255, 132, 0),rgb(251, 251, 67));
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
 
}

.post-container {
  border: 6px solid rgb(0, 0, 0);
  border-radius: 20px;
  width: 500px;
  margin: auto;
  padding: 20px;
   
}
h3{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 255, 255);
}
.post-container > p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 800;
    color: rgb(45, 45, 45);
}
.post-photo {
  width: 100%;
}
.dp {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}
.post-user-detail {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 800;
}
#footer{
  display: flex;
  justify-content: space-between;
  font-size: 38px;
  color: rgb(43, 43, 43);
  
}


